.title {
    margin-bottom: 8rem;
    padding-top: 7rem;

    @include breakpoint(mobile) {
        padding-top: 4.8rem;
        margin-bottom: 4.8rem;
    }
}

.title__row {
    

    @include breakpointMF(small-tablet) {
        display: grid;
        grid-template-columns: minmax(0, var(--sidebar-width)) minmax(0, 1fr);
        align-items: flex-start;
    }
}

.title__logo {
    display: block;
    margin-top: 1rem;

    @include breakpoint(mobile) {
        display: none;
    }
}

.title__main {
    padding-right: var(--sidebar-width);

    @include breakpoint(mobile) {
        padding: 0;
    }
}

.title__logo-image {
    width: 6rem;
    height: auto;
    display: block;
}